body {
    background-color: #F4F6F5;
}

.hero__content {
    display: flex;
    align-items: center;
}

.hero__titel {
    font-size: 60px;
    line-height: 66px;
    font-weight: 500;
    /* margin-top: 145px; */
}

.hero__subtitle {
    color: #86928B;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    margin-top: 20px;
}

.hero__button {
    display: block;
    width: 225px;
    height: 65px;
    border: 1px solid #598D66;
    color: #598D66;
    font-size: 20px;
    line-height: 23.48px;
    padding: 21px 60px;
    margin-top: 60px;
}

span {
    color: #598D66;
}

.grid {
    display: grid;
    gap: 30px;
    grid-template-rows: repeat(2, 730px);
    grid-template-columns: repeat(3, 350px);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 730px;
    background-color: #E1EDE6;
    padding: 20px;
}

.autor {
    color: #86928B;
    font-size: 18px;
}

.name {
    color: #2C2D35;
    font-size: 30px;
    padding-top: 10px;
}

.materials {
    color: #2C2D35;
    font-size: 18px;
    padding-top: 8px;
}

.price {
    color: #598D66;
    font-size: 24px;
}

.basket {
    border: 1px solid #598D66;
    width: 100%;
    height: 65px;
    background: none;
    color: #598D66;
    font-size: 20px;
    cursor: pointer;
}

.discription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.picture {
    background-color: aqua;
    width: 310px;
    height: 422px;
}

.promo {
    margin: 0 auto;
    margin-top: 70px;
    width: 100%; 
    height: 574px;
    background: url(../art_border/pic_background.png) center/cover no-repeat;
    padding-left: 165px;
}

.promo__titel {
    color: #F4F6F5;
    font-size: 40px;
    line-height: 40px;
    padding-top: 70px;
    display: flex;
}

.collection {
    padding-left: 20px;
}

.promo__subtitle {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 27px;
    margin-top: 20px;
}

.btn__promo {
    display: block;
    width: 257px;
    height: 65px;
    color: #2C2D35;
    background-color: #EEDB6D;
    font-size: 20px;
    margin-top: 60px;
    padding: 20px 60px;
}

.our__team {
    margin-top: 70px;
    display: flex;
}

